*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family: Roboto;
}
.container{
  margin-top:100px;
}
nav{
  /* height: 80px; */
  background-color: #999B84;
  position:fixed;
  top:0;
  left:0;
  z-index:200;
  width:100%;
  height:120px;
  margin:0 auto;
  padding:0;
  /* display:flex;
  justify-content:space-around;
  align-items: center; */
  /* height:133px; */
  /* text-align: justify; */
  font-style:normal;
  font-weight:normal;
  font-size:36px;
  /* line-height: 42px; */
  color: #000000;
}
nav a{
  box-sizing:border-box;
  /* margin-left:54px; */
  display:inline-block;
  height:100px;
  line-height:100px; */
  padding:10px;
  margin:10px;
  /* background-color: white; */
}
.firstscreen{
/* padding-top: 100px; */
  /* margin-top: 100px; */
}
.split{
  height:615px;
  /* width:512px; */
  /* position:absolute; */
}
.split {
          box-sizing: border-box;
          background-color: lightgray;
          padding: 20px;
          width: 49.5%;
          min-height:inherit;
}

.split left {
          margin-right: 1%;
          float: left;
          overflow: auto;
}

.split right {
float:left;
}

.firstscreen{
  background-color: #F4EEED;
  margin-top:120px;
}
.left{
  /* left:50px; */
  /* display:inline-block; */
  background:#E6E6FA;
  width: 40%;
  float:left;

}
.right{
  /* left:512px; */
  background:#EFD9D1;
}
.centered{
  /* top:600px; */
  float: left;
  padding: 20px;
  text-align:center;
  width:400px;
  height:402px;
  margin-left:82px;
  /* margin-top:20%; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  background:#EFD9D1;
}
.button{
  position:fixed;
  right:20px;
  bottom:20px;
}

.self_img{
  position:absolute;
  z-index:100;
  width:400px;
  top:20%;
  left:70px;
}
.accent_img{
  position:absolute;
  left:28px;
  top:100px;
  z-index:0;

  width:200px;
}

.nav1{
  /* position: absolute; */
  width: 1024px;
  height: 126px;

background: #999B84;
}
.secondscreen{
  background-color: red;
}
.myportfolio{
  /* position: absolute; */
  width: 1024px;
  height: 126px;
  /* top:714px; */
  background: #999B84;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}
.project1{
  /* position: absolute; */
  /* width:1024px; */
  /* height:437px; */
  /* top:840px; */
  text-align:left;

  /* margin-left:82px; */
  /* margin-top:20%; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  /* border-bottom: solid 100px #999B84; */
}
.project_1{
  /* position: absolute; */
  /* z-index:100; */
  /* width:300px; */
  /* left: 450px;
  top:-12%; */
}
.quarter1{
  display:inline-block;
  height:600px;
  /* width:1024px; */
  /* top:840px; */
  /* border-bottom: solid 100px #999B84; */
/* .secondscreen{
  width:1024px;
} */
}
.right1{
  /* left:600px; */
  background:#EFD9D1;
  /* border-bottom:solid 100px #999B84; */
  /* border-right:solid 200px #F4EEED; */
}
.left1{
  /* width:25%; */
  background-color: #F4EEED;
}
.myportfolio h2 {
  box-sizing: content-box;
  text-align: center;
  padding: 33px;
}
.project2{
  /* position:absolute; */
  width:800px;
  height:0px;
  /* top:auto; */
  text-align:right;

  margin-left:-150px;
  margin-top:32%;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

}
.quarter2{
  /* border-top: solid 100px #999B84; */
  height:400px;
  width:1024px;
}
.thirdscreen{
  background: #F4EEED;
  width:1024px;
  border-left: 200px solid #EFD9D1;
}
.left2{
  left:0
  background-color: #F4EEED;
  /* border-bottom: solid 100px #999B84; */
}
.right2{
  height:300px;
  width: 612px;
  /* background-color: #EFD9D1; */
}
.project_2{
  /* position:absolute;
  z-index:100; */
  width:400px;
  /* left:15px;
  top: -12%; */
}
/* .separator{
  background-color: black;
  width:1200px;
  top: 1000px;
  padding:0;
} */
.contact1{
  /* position:absolute; */
  width:1024px;
  height:126px;
  background: #999B84;

  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin: 0 auto;
}
.contact1 h3{
  box-sizing:content-box;
  padding:33px;
  height:100px;
  line-height: 100px;
}
.contactme{
  background-color: #EFD9D1;
  width:1024px;
  margin: 0 auto;
  padding:0
}
.action_page{
  width=100%;
  padding:12px;
  border:1px solid #999B84;
  border=radius:4px;
  box-sizing: border-box;
  margin-top;6px;
  margin-bottom:16px;
 resize: vertical;
}
/* border: 5px solid #EFD9D1; */
}
